NODE_ENV=development
PORT=3000
DB_URI=db_uri
JWT_SECRET=secret_jwt_key
JWT_EXPIRES_IN=2h
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret
SLACK_WEBHOOK=slack_url
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=email_user
EMAIL_PASS=email_password
